Content-Type: text/x-zim-wiki
Wiki-Format: zim 0.4
Creation-Date: 2010-09-07T23:21:45.572685

====== PackageRequirements ======

(In Debian Packages...)

* libjogl-java

sudo apt-get install libjogl-java
